{% load static %}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>اطلاعات کاربری</title>
    <script
      type="text/javascript"
      async=""
      src="https://www.google-analytics.com/analytics.js"
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-D820J2MXBK&amp;l=dataLayer&amp;cx=c"
    ></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/lottie-player.min.js' %}"></script>
    <script src="{% static '/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static '/js/nouislider.min.js' %}"></script>
    <script src="{% static '/js/toastr.min.js' %}"></script>

    <link rel="stylesheet" href="{% static '/css/fnt.css' %}" />
    <link rel="icon" href="{% static '/img/ghazi-logo.jpg' %}" type="image/png" />
    <link rel="stylesheet" href="{% static '/css/toastr.min.css' %}" />
  </head>
  <body class="dashboard-page profile-page">
    <!-- header -->
    <header>
        <div class="container">
            {% if messages %}
          {% for msg in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong>{{ msg }}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endfor %}
      {% endif %}
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center">
              <a
                href="{% url 'cart' %}"
                title=""
                target="_self"
                class="btn btn-outline-secondary btn-with-icon"
              >
              <img src="{% static '/img/header/basket.svg' %}" alt="Basket icon" />
              <span>سبد خرید</span>
                <span class="btn-badge bg-light">{{ cart.items.all|length }}</span>
              </a>
  
              {% if user.is_authenticated %}
                  <div
                  class="btn btn-primary btn-with-icon me-2 ps-4 loggedin-header-button"
                  >
                  <img
                      src="https://ibolak.com/assets/new/icons/user.svg"
                      alt="User icon"
                  />
                  <span>{{ user.get_full_name }}</span>
                  <ul>
                      <li>
                      <a
                          href="{% url 'profile' %}"
                          title="پیشخوان"
                          target="_self"
                      >
                          <img
                          src="https://ibolak.com/assets/new/icons/home.svg"
                          alt="dashboard"
                          />
                          پیشخوان
                      </a>
                      </li>
                      <li>
                      <a
                          href="{% url 'logout' %}"
                          title="خروج از حساب"
                          target="_self"
                      >
                          <img
                          src="https://ibolak.com/assets/new/icons/address.svg"
                          alt="log out"
                          />
                          خروج از حساب
                      </a>
                      </li>
                  </ul>
                  </div>
              {% else %}
                  <a
                  href="{% url 'login' %}"
                  title=""
                  target="_self"
                  class="btn btn-primary btn-with-icon me-2 ps-4"
                  >
                  <img src="{% static '/img/header/user.svg' %}" alt="User icon" />
                  <span>ورود/ثبت نام</span>
                  </a>
              {% endif %}
  
              <form method="get" action="#" class="search-wrapper">
                <span class="search-wrapper-icon">
                  <img src="{% static '/img/header/search.svg' %}" alt="Search Icon" />
                </span>
                <input
                  name="search_key"
                  autocomplete="off"
                  maxlength="100"
                  type="text"
                  data-url="#"
                  data-search-input=""
                  placeholder="جستجو در لباس قاضی"
                />
              </form>
              <div
                class="search-autocomplete"
                style="width: 522px; right: 464.138px; top: 172.8px"
              >
              </div>
            </div>
            <a href="/" title="" target="_self">
              <img
                src="{% static '/img/ghazi-logo.jpg' %}"
                height="50"
                alt="آی‌بولک"
                style="width: 100px; height: 85px; mix-blend-mode: multiply"
              />
            </a>
          </div>
          <nav class="header-nav">
            <div class="header-nav-right">
              <div class="dots-after megamenu-wrapper">
                <a href="#" target="_self">
                  <span>زنانه</span>
                  <img src="{% static '/img/header/arrow-down.svg' %}" />
                </a>
                <div class="dots-after-dots">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="megamenu">
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>بالاپوش</strong>
                    </a>
                    <ul>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          بلوز/شومیز
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          مانتو/تونیک
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          پیراهن/سارافون
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          سرهمی/اورال
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          کت/کت کتان/کت جین
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          کاپشن/پافر/بارانی/پالتو
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          هودی/سویشرت
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          پلیور/ژاکت
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>جین</strong>
                    </a>
                    <ul>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          بگ/نیم بگ/واید
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          جین/مام فیت/مام استایل
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          جین راسته
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          جین جذب/اسکینی
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          جین دمپا/بوت کات
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>شلوار</strong>
                    </a>
                    <ul>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          راسته و کلاسیک
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          پارچه ای/کتان
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          اسلش/جاگر
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          لگ/ساپورت
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          شلوارک
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          شلوار راحتی
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>لباس اسپرت و راحتی</strong>
                    </a>
                    <ul>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          تیشرت/پولوشرت
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          بلوز آستین بلند
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          تاپ/نیم تنه
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          لباس خواب/لباس زیر
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          ست راحتی/ست اسپرت
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>سایر محصولات</strong>
                    </a>
                    <ul>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          دستکش
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          حوله
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          یقه حجاب
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          کیف آرایشی
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          ارگانایزر
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          جوراب
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          چشم بند
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          کمربند
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dots-after megamenu-wrapper">
                <a href="#" target="_self">
                  <span>کیف</span>
                </a>
                <div class="dots-after-dots">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
              <div class="dots-after megamenu-wrapper">
                <a href="#" target="_self">
                  <span>مردانه</span>
                  <img src="{% static '/img/header/arrow-down.svg' %}" />
                </a>
                <div class="dots-after-dots">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="megamenu">
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>بالاپوش</strong>
                    </a>
                    <ul>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          پیراهن مردانه
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          پلیور/ سویشرت / هودی
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          کاپشن/کت
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>شلوار</strong>
                    </a>
                    <ul>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          جین
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          شلوار راحتی/شلوارک
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>لباس اسپرت</strong>
                    </a>
                    <ul>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          تیشرت/پولوشرت
                        </a>
                      </li>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          ست اسپرت/ست راحتی
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>سایر</strong>
                    </a>
                    <ul>
                      <li>
                        <a href="#" title="" target="_self" class="dots-vertical">
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          <span class="dots-vertical-dots"></span>
                          جوراب
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="dots-after megamenu-wrapper">
                <a href="#" target="_self">
                  <span>کلاه/روسری/شال</span>
                  <img src="{% static '/img/header/arrow-down.svg' %}" />
                </a>
                <div class="dots-after-dots">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div class="megamenu">
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>کلاه</strong>
                    </a>
                    <ul></ul>
                  </div>
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>شال</strong>
                    </a>
                    <ul></ul>
                  </div>
                  <div class="megamenu-col">
                    <a href="#">
                      <strong>روسری</strong>
                    </a>
                    <ul></ul>
                  </div>
                </div>
              </div>
              <div class="dots-after megamenu-wrapper">
                <a href="#" target="_self">
                  <span>مهربانی</span>
                </a>
                <div class="dots-after-dots">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

    <!-- account -->
    <div class="container">
      <main>
        <div class="row">
          <aside class="dashboard-sidebar-outer col-sm-12">
            <div class="card p-0 dashboard-sidebar">
              <a
                class="close-mobile mobile-only"
                href="#"
                title=""
                target="_self"
                ><i class="fal fa-times"></i
              ></a>
              <div class="dashboard-sidebar-header-outer">
                <div class="dashboard-sidebar-header flex-wrap">
                  <div class="dashboard-sidebar-header-avatar">
                    <img src="{% static '/img/AdminLTELogo.png' %}" alt="" />
                  </div>
                  <div class="dashboard-sidebar-header-body pe-2">
                    <span class="dashboard-sidebar-header-points">
                      20 امتیاز
                    </span>
                    <h4 class="m-0 fs-5 fw-medium mb-1">{{ user.get_full_name }}</h4>
                    <p class="text-muted m-0 fs-6">موجودی: ۰ تومان</p>
                  </div>
                  <div class="dashboard-sidebar-header-meta w-100 mt-3">
                    <a
                      href="#"
                      title=""
                      target="_self"
                      data-bs-toggle="modal"
                      data-bs-target="#walletModal"
                      class="btn btn-light text-center d-flex justify-content-center align-items-center"
                    >
                      <img
                        src="https://ibolak.com/assets/new/icons/wallet.svg"
                        alt="Wallet icon"
                        class="ms-1"
                      />
                      <span>افزایش اعتبار</span>
                    </a>
                  </div>
                </div>
              </div>

              <ul class="dashboard-menu">
                <li>
                  <a href="#" title="" target="_self">
                    <img
                      src="https://ibolak.com/assets/new/icons/home.svg"
                      alt="پیشخوان"
                    />
                    <span>پیشخوان</span>
                    <img
                      src="https://ibolak.com/assets/new/icons/arrow-left-simple.svg"
                      alt=""
                      class="mobile-only"
                    />
                  </a>
                </li>

                <li>
                  <a href="#" title="" target="_self">
                    <img
                      src="https://ibolak.com/assets/new/icons/edit-profile.svg"
                      alt="اطلاعات کاربری"
                    />
                    <span>اطلاعات کاربری</span>
                    <img
                      src="https://ibolak.com/assets/new/icons/arrow-left-simple.svg"
                      alt=""
                      class="mobile-only"
                    />
                  </a>
                </li>

                <li>
                  <a href="{% url 'logout' %}" title="خروج از حساب کاربری" target="_self">
                    <img
                      src="https://ibolak.com/assets/new/icons/logout.svg"
                      alt="Logout icon"
                    />
                    <span>خروج از حساب</span>
                  </a>
                </li>
              </ul>
            </div>
          </aside>

          <div
            class="modal fade"
            id="walletModal"
            tabindex="-1"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <a
                href="#"
                title=""
                target="_self"
                class="modal-close"
                data-bs-dismiss="modal"
              >
                <img
                  src="https://ibolak.com/assets/new/icons/close.svg"
                  alt="Close Icon"
                />
              </a>
              <div class="modal-content bg-transparent">
                <form action="https://ibolak.com/payment/wallet" method="post">
                  <input
                    type="hidden"
                    name="_token"
                    value="wzzYAfO27NeH1YDniLFEEOcqyz90wPbxlFK74hEk"
                    autocomplete="off"
                  />
                  <div class="wallet-charge-modal bg-before">
                    <div
                      class="card mx-5 d-flex flex-column justify-content-center align-items-center"
                    >
                      <img
                        width="100"
                        src="https://ibolak.com/assets/new/icons/wallet.svg"
                        alt="Wallet icon"
                      />
                      <strong class="text-center d-block mt-2 mb-2 fs-4 mt-3"
                        >شارژ کیف پول</strong
                      >
                      <p class="mb-5">
                        برای شارژ کیف پول مبلغ مورد نظر را وارد نمایید
                      </p>
                    </div>
                    <div class="wallet-charge-modal-body">
                      <div class="input-wrapper">
                        <label class="mb-2 d-block">مبلغ شارژ</label>
                        <div class="currency-input">
                          <input
                            type="hidden"
                            name="price"
                            data-real-input=""
                          />
                          <input
                            data-min="100000"
                            data-max="50000000"
                            name="price-indicator"
                            placeholder="مبلغ مورد نظر را وارد نمایید"
                            data-price-input=""
                            data-digits-only=""
                            data-number-input=""
                            class="input outline"
                          />
                          <span data-price-unit="">تومان</span>
                        </div>
                      </div>
                      <p class="mt-1 text-red" data-form-message=""></p>
                      <button
                        type="submit"
                        class="d-flex align-items-center justify-content-center btn btn-primary py-3 w-100 mt-3"
                      >
                        شارژ کیف پول
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <content class="col">
            <div class="card">
              <h2 class="fs-5">ویرایش حساب</h2>
              <div
                class="d-flex align-items-center justify-content-center flex-column"
              >
                <div class="edit-profile-avatar-wrapper">
                  <img src="{% static '/img/AdminLTELogo.png' %}" />
                </div>
                <div
                  class="btn btn-primary mt-2"
                  style="position: relative; cursor: pointer"
                >
                <form method="POST">{% csrf_token %}
              <div class="row mx-0">
                <div class="col-sm-12">
                  <div class="card p-lg-3 px-0">
                      
                      <div class="row">
                        <div class="col-lg-6 col-sm-12 py-2">
                          <label
                            >نام (فارسی)
                            <span class="text-danger">*</span></label
                          >
                          <div class="input-icon">
                            <img
                              src="https://ibolak.com/assets/new/icons/name-input.svg"
                              alt="Name icon"
                            />
                            <input
                              name="first_name"
                              data-rule-persianonly="true"
                              required=""
                              type="text"
                              placeholder="{{ user.first_name }}"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 py-2">
                          <label
                            >نام خانوادگی (فارسی)
                            <span class="text-danger">*</span></label
                          >
                          <div class="input-icon">
                            <img
                              src="https://ibolak.com/assets/new/icons/family-input.svg"
                              alt="Name icon"
                            />
                            <input
                              name="last_name"
                              data-rule-persianonly="true"
                              required=""
                              type="text"
                              placeholder="{{ user.last_name }}"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 py-2">
                          <label>
                            شماره تلفن همراه
                            <span class="text-danger">*</span></label
                          >
                          <div class="input-icon">
                            <img
                              src="https://ibolak.com/assets/new/icons/phone-input.svg"
                              alt="Name icon"
                            />
                            <input
                              name="phone_number"
                              data-rule-mobile="true"
                              required=""
                              class="only-digits"
                              dir="ltr"
                              data-title="شماره تلفن همراه"
                              maxlength="11"
                              minlength="11"
                              type="text"
                              placeholder="{% if user.customer.phone_number %}{{ user.customer.phone_number }}{% else %}شماره تلفن{% endif %}"
                            />
                          </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 py-2">
                          <label>آدرس ایمیل
                            <span class="text-danger">*</span>
                          </label>
                          <div class="input-icon">
                            <img
                              src="https://ibolak.com/assets/new/icons/email-input.svg"
                              alt="Name icon"
                            />
                            <input
                              name="email"
                              class="only-english"
                              data-title="ادرس ایمیل"
                              dir="ltr"
                              placeholder="{{ user.email }}"
                              type="email"
                            />
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-end mt-3"
                      >
                        <button type="submit" class="btn btn-primary">
                          <i class="fal fa-check"></i><span>ثبت اطلاعات</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              
            </div>
          </content>
        </div>
      </main>
    </div>

    <!-- footer -->
    <footer class="container-fluid mt-4 footer_back ">   
      <div class="container py-5 ozv-back">
        <div class="row">
          <div class="col-sm-12 col-md-3 d-flex flex-column justify-content-center footer-text1">
            <h5>
              بروز باشید.
            </h5>
            <p>
              از همه در <span>موجودی کلاها</span> جلو بزن.
            </p>
          </div>
          <div class="col-sm-12 col-md-4  d-flex flex-column justify-content-center footer-text2">
            <p>
              به جمع 20,000 تایی من و تو خوش بپیوند!
            </p>
          </div>
          <div class="col-sm-12 col-md-5 d-flex flex-column justify-content-center align-items-center">
            <div class="input-group">
              <input type="text" class="form-control input-search-nav ozv-cust" placeholder="شماره خود را وارد کن ...." aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-cust" type="button" id="button-addon2">اشتراک</button>
            </div>
          </div>
        </div>
    </div>
  
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-12 col-md-7">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="">
                <h5> با من و تو</h5>
              </div>
              <div class="d-flex flex-column justify-content-end align-items-start about-us1">
                <a href="">صفحه اصلی</a>
                <a href="">مردانه</a>
                <a href="">زنانه</a>
                <a href="">بچگانه</a>
                <a href="">درباره ما</a>
                <a href="">تماس با ما</a>
                <a href="">قوانین و مقررات</a>
              </div>
            </div>
            <div class="col-sm-6 col-md-4"><div class="">
              <h5>خدمات مشتریان</h5>
              <div class="d-flex flex-column justify-content-end align-items-start about-us1">
                <a href="">پاسخ به پرسش های متداول</a>
                <a href="">مرجوعی کالا</a>
                <a href="">نحوه ثبت سفارش</a>
                <a href="">شیوه های پرداخت</a>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5 d-flex flex-column justify-content-end align-items-start addr">
          <h5 class="mb-4">اطلاعات من و تو</h5>
          <p><span>آدرس:</span> کرمان،میدان پژوهش،دانشگاه شهید باهنر کرمان،ساختمان s</p>
          <P><span>تلفن:</span> 034-34372235</P>
          <a href="" class="align-self-end"><img src="/assets/img/ghazi-logo.jpg" class="img-icon" alt=""></a>
        </div>
      </div>
    </div>
  </footer>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/nouislider.min.js"></script>
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/toastr.min.js"></script>
    <script>
      let priceUnit = "تومان";
      let typingTimer; // Timer identifier
      const doneTypingInterval = 500; // Time in milliseconds, adjust as needed
      $(function () {
        $("[data-search-input]").on("keyup", function () {
          clearTimeout(typingTimer);
          let $input = $(this);
          let url = $input.data("url");
          typingTimer = setTimeout(function () {
            sendSearchRequest(url, $input.val());
          }, doneTypingInterval);
        });
      });
      let toast = function (title, msg, type, options) {
        if (typeof toastr === "undefined") {
          return;
        }

        var $addClear = true;
        let timeOut = (options && options.timeOut) || 0;
        let progressBar = (options && options.progressBar) || false;

        toastr.options = {
          closeButton: false,
          progressBar,
          positionClass: "toast-bottom-left",
          onclick: null,
          timeOut,
          rtl: true,
          extendetTimeout: 0,
          closeOnHover: false,
          tapToDismiss: true,
        };

        toastr[type](msg, title);

        if (timeOut.length) {
          toastr.options.timeOut = $addClear ? 0 : timeOut;
        }
      };
      function renderCategories(categories) {
        let categories_struct = "";
        var categoryTag = $(".autocomplete-categories").find(
          ".autocomplete-tags"
        );
        if (categories.length > 0) {
          $(categories).each(function (key, category) {
            categories_struct += `
                      <a href="${category.url}" title="" target="_self">
                          <span>${category.title}</span>
                          <img src="https://ibolak.com/assets/new/icons/arrow-left-simple.svg" alt="" />
                      </a>`;
          });
          categoryTag.html(categories_struct);
        } else {
          categoryTag.html(`<span>موردی یافت نشد!</span>`);
        }
      }
      function renderProducts(products) {
        let products_struct = "";
        var productTag = $(".autocomplete-products");
        if (products.length > 0) {
          $(products).each(function (key, product) {
            let mainCategory = product.mainCategory[0];
            products_struct += `
                      <a href="${
                        product.share_url
                      }" title="" target="_self" class="autocomplete-product">
                          <div class="autocomplete-product-image">
                              <img src="${
                                product.image_urls
                                  ? product.image_urls.url
                                  : null
                              }" alt="" />
                          </div>
                          <div class="autocomplete-product-body">
                              <p class="fw-bold">${product.title}</p>
                              <div class="d-flex align-items-center justify-content-between">
                                  <span class="text-muted text-small">${
                                    mainCategory ? mainCategory.title : ""
                                  }</span>
                                  <strong class="text-primary">${numberFormat(
                                    product.final_price
                                  )} ${priceUnit}</strong>
                              </div>
                          </div>
                      </a>`;
          });
          productTag.html(`<strong>محصولات</strong>` + products_struct);
        } else {
          productTag.html(
            `<strong>محصولات</strong><br><span>موردی یافت نشد!</span>`
          );
        }
      }
      function renderArticles(articles) {
        let articles_struct = "";
        var articleTag = $(".autocomplete-articles");
        if (articles.length > 0) {
          $(articles).each(function (key, article) {
            let mainCategory = article.mainCategory[0];
            articles_struct += `
                              <a href="${article.url}" title="" target="_self"
                                  class="autocomplete-product autocomplete-article">
                                  <div class="autocomplete-product-image">
                                      <img src="${
                                        article.image ? article.image.url : null
                                      }" alt="" />
                                  </div>
                                  <div class="autocomplete-product-body">
                                      <p class="fw-bold">${article.title}</p>
                                      <div class="d-flex align-items-center justify-content-between">
                                          <span class="text-muted text-small">${
                                            mainCategory
                                              ? mainCategory.title
                                              : ""
                                          }</span>
                                          <strong class="text-muted">${
                                            article.published_at
                                          }</strong>
                                      </div>
                                  </div>
                              </a>`;
          });
          articleTag.html(`<strong>مقالات</strong>` + articles_struct);
        } else {
          articleTag.html(
            `<strong>مقالات</strong><br><span>موردی یافت نشد!</span>`
          );
        }
      }
      function sendSearchRequest(url, query) {
        $.ajax({
          url: url,
          method: "GET",
          data: {
            q: query,
            includes: "category,article",
          },
          success: function (response) {
            let data = response.data;
            renderProducts(data.products);
            renderArticles(data.articles);
            renderCategories(data.categories);
          },
          error: function (xhr, status, error) {
            var errors = JSON.parse(xhr.responseText);
            if (errors.message) {
              var e = errors.errors;
            } else {
              var e = errors.meta.status.messages;
            }
            for (message in e) {
              console.log(e[message]);
            }
          },
        });
      }

      function numberFormat(number) {
        var locale = "fa";
        var options = { minimumFractionDigits: 0, maximumFractionDigits: 2 };
        var formatter = new Intl.NumberFormat(locale, options);
        return formatter.format(number);
      }
      function ShowGeneralModalExternal(tag, title, url) {
        let element = $(tag);
        element.find(".modal-body").html("در حال پردازش...");
        element.find("#generalModalLabel").text(title);
        element.modal("show");

        element.find(".modal-body").load(url, "", function () {});
      }
      $(".product-like").on("click", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).closest(".col-lg-4").addClass("fadeInOutLoading");
        let type = $(this).data("type");
        let id = $(this).data("id");
        handleBookmark(this, id, type);
      });
      let handleBookmark = function (
        element,
        itemId,
        itemType,
        method = "attach"
      ) {
        let url = "https://ibolak.com/bookmark/:model_id/sync";
        url = url.replace(":model_id", itemId);
        $.ajax({
          url: url,
          type: "POST",
          context: this,
          data: {
            _token: $('meta[name="csrf-token"]').attr("content"),
            model_type: itemType,
          },
          success: function (response, textStatus, jqXHR) {
            let data = response.data;
            const message = response.meta.status.messages[0];
            toast("", message, "success", {
              timeOut: 10000,
              progressBar: true,
              positionClass: "toast-bottom-right",
            });
            if (data.state === "delete") {
              $(element).closest(".col-lg-4").remove();
            }
          },
          error: function (xhr, status, error) {
            const data = JSON.parse(xhr.responseText);
            const message = data.meta.status.messages[0];
            toast("", message, "error", {
              timeOut: 10000,
              progressBar: true,
              positionClass: "toast-bottom-right",
            });
          },
        });
      };
    </script>
  </body>
</html>
