@import url(style.css);
@import url(footer.css);

@font-face {
    font-family: Vazir_Medium;
    src: url(../Font/Vazir-Medium.eot) format("eot"),
    url(../Font/Vazir-Medium.woff) format("woff"),
    url(../Font/Vazir-Medium.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}

*, body{
    font-family: Vazir_Medium;
}



